#!/bin/bash

GO111MODULE=off \
GOPATH=$(pwd)/../.. \
go build -o traveledit2 || exit 1

GO111MODULE=off \
GOPATH=$(pwd)/../.. \
BASICUSER=user1 \
BASICPASS=somepw \
SCREENSHARENOAUTH= \
PUBLICPATH="../../../public" \
./traveledit2 \
-location=/ \
-proxypath=/yourproxypath \
-proxypathtrimmed=false \
-addr=:8080



